from "{{ environment_name }}".wrappers.clip_reward import ClipReward
from "{{ environment_name }}".wrappers.discrete_actions import DiscreteActions
from "{{ environment_name }}".wrappers.reacher_weighted_reward import ReacherRewardWrapper
from "{{ environment_name }}".wrappers.relative_position import RelativePosition
